[submodule "vim/vim.symlink/bundle/vim-rails"]
	path = vim/vim.symlink/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim/vim.symlink/bundle/gitv"]
	path = vim/vim.symlink/bundle/gitv
	url = https://github.com/gregsexton/gitv.git
[submodule "vim/vim.symlink/bundle/vim-bundler"]
	path = vim/vim.symlink/bundle/vim-bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule "vim/vim.symlink/bundle/vim-coffee-script"]
	path = vim/vim.symlink/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "vim/vim.symlink/bundle/vim"]
	path = vim/vim.symlink/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
